<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel='stylesheet' id='bootstrap-css'  href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' type='text/css' media='all' />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/print.css" type="text/css" media="print" />
</head>