<div id="brandbar" class="affix-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-8 logodiv">
                <button type="button" class="navbar-toggle hidden-print" data-toggle="collapse" data-target="#main-menu-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.uu.nl/en">
                    <img src="{{ site.baseurl }}/assets/images/uu-logo.svg" alt="Logo Utrecht University">
                </a>

                <div class="visible-print-block">
                    <h1>YODA</h1>
                </div>
            </div>

            <div class="col-sm-6 col-xs-4 hidden-print" role="search">
                <!--
                <div class="pull-right">
                    <form method="get" id="searchform" action="https://yoda.sites.uu.nl">
                        <div class="search-wrapper">
                            <label class="screen-reader-text" for="s">'</label>
                            <input type="text" class="searchfield" value="" name="s" id="s" placeholder="Search the Site...">
                            <input type="submit" id="searchsubmit" class="searchbutton" value="">
                        </div>
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<header id="masthead" class="header hidden-print">
    <div class="container">
        <h1>
            <a href="{{ site.baseurl }}" rel="home" title="YODA">
                YODA
            </a>
        </h1>
    </div>
</header>

<a class="skip-link sr-only" href="#content">Skip to content</a>

<!-- MAIN MENU -->
<nav id="#access" class="navbar navbar-default navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header"></div>
        <div id="main-menu-collapse" class="collapse navbar-collapse">
            <ul id="menu-hoofdmenu" class="nav navbar-nav">
                {% assign path = site.baseurl | append: page.url %}
                {% for item in site.data.menu.main %}
                {% assign itemPath = site.baseurl | append: item.url %}
                <li class="first-item menu-item menu-item-type-post_type menu-item-object-page dropdown{% if itemPath == path %} current-menu-item{% endif %}">
                    <a title="{{ item.title }}" href="{{ itemPath }}">{{ item.title }}</a>
                    {% assign pathArray = item.url | split: '/' %}
                    {% assign menuType = pathArray[1] %}
                    {% if site.data.menu contains menuType %}
                    <ul class="submenu visible-xs visible-sm nav navbar-nav">
                        {% for subitem in site.data.menu[menuType] %}
                        {% assign subitemPath = site.baseurl | append: subitem.url %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown{% if subitemPath == path %} current-menu-item{% endif %}">
                            <a title="{{ subitem.page }}" href="{{ subitemPath }}">
                                {{ subitem.page }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- /MAIN MENU -->
