<div id="brandbar" class="affix-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-8 logodiv">
                <button type="button" class="navbar-toggle hidden-print" data-toggle="collapse" data-target="#main-menu-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://www.uu.nl/en">
                    <img src="{{ site.baseurl }}/assets/images/uu-logo.svg" alt="Logo Utrecht University">
                </a>

                <div class="visible-print-block">
                    <h1>YODA</h1>
                </div>
            </div>

            <div class="col-sm-6 col-xs-4 hidden-print" role="search">
                <!--
                <div class="pull-right">
                    <form method="get" id="searchform" action="https://yoda.sites.uu.nl">
                        <div class="search-wrapper">
                            <label class="screen-reader-text" for="s">'</label>
                            <input type="text" class="searchfield" value="" name="s" id="s" placeholder="Search the Site...">
                            <input type="submit" id="searchsubmit" class="searchbutton" value="">
                        </div>
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<header id="masthead" class="header hidden-print">
    <div class="container">
        <h1>
            <a href="https://yoda.sites.uu.nl/" rel="home" title="YODA">
                YODA
            </a>
        </h1>
    </div>
</header>

<a class="skip-link sr-only" href="#content">Skip to content</a>

<!-- MAIN MENU -->
<!-- /MAIN MENU -->