{% if site.data.navigation.navigation_footer %}
<nav class="nav  nav--footer">
  <ul class="list list--nav">
    {% for item in site.data.navigation.navigation_footer %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  <a href="https://uu.nl/rdm" target="_blank">A Utrecht University RDM Support project</a>
{% endif %}
