<html>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>

{% for person in site.date.people %}
    <div class="card">
        {% if person.image %}
            <img src="../assets/images/{{ person.image }}" alt="{{ person.name }}" style="width:100%">
        {% else %}
            <img src="../assets/images/avatar.png" alt="Avatar" style="width:100%">
        {% endif %}
        <div class="container">
            <h4><b>{{ person.name }}</b></h4> 
            <p>{{ person.role }}</p> 
            <p><a href="{{ person.url}}" target="_blank"><i>about</i></a></p>
        </div>
    </div>
{% endfor %}
</html>