<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body data-rsssl="1" class="page-template-default page page-id-6 page-parent" data-spy="scroll" data-target="#sidebarnav">
        <div id="page">

            {% include header.html %}

            <div id="content" class="two-col">
                <header class="article-header article-header-main">
                    <div class="header-image hidden-print">

                        {% if page.title %}
                        <div class="breadcrumbs" xmlns:v="https://rdf.data-vocabulary.org/#">
                            <div class="container">
							<span property="itemListElement" typeof="ListItem">
								<span property="name">YODA</span>
								<meta property="position" content="1">
							</span>
                            </div>
                        </div>
                        {% endif %}

                        <img src="{{ site.baseurl }}/assets/images/header.jpg" alt="">

                        {% if page.title %}
                        <div class="page-header-placeholder"></div>
                        {% endif %}
                    </div>
                </header>

                <div id="content-wrapper" class="container">
                    <div class="row-offcanvas row-offcanvas-left">
                        <div id="left-sidebar" class="sidebar-offcanvas clearfix hidden-print" role="complementary">
                            <!-- PAGE MENU -->
                            {% assign pathArray = page.path | split: '/' %}
                            {% assign menuType = pathArray[0] %}
                            {% if site.data.menu contains menuType %}
                            <div class="widget-1 first-widget widget widget_nav_menu">
                                <h4 class="widgettitle">Menu</h4>
                                <div class="menu-hoofdmenu-container">
                                    <!-- PAGE MENU -->
                                    <ul class="menu">
                                        {% assign currentPagePath = site.baseurl | append: page.url %}
                                        {% for item in site.data.menu[menuType] %}
                                            {% assign path = site.baseurl | append: item.url %}
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children{% if currentPagePath == path %} current-menu-item{% endif %}">
                                                <a href="{{ path }}">{{ item.page }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <!-- /PAGE MENU -->    
                        </div>

                        <div class="page-content clearfix">
                            {% if page.title %}
                            <div class="page-title">
                                <h1>
                                    {{ page.title }}
                                </h1>
                            </div>
                            {% endif %}
			    <!--
                            <div class="toggle-btn-div visible-xs clearfix">
                                <button type="button" class="toggle-btn white button icon left arrow-right" data-toggle="offcanvas">
                                    Show sidebar
                                </button>
                            </div>
                            -->
                            <div class="page-content-inner facetwp-template">

                                <article id="post-6" class="clearfix post-6 page type-page status-publish hentry first-post">
                                    <section class="entry-content">
                                        {{ content }}
                                    </section>

                                    <footer class="article-footer"></footer>
                                </article>
                            </div> <!-- /page-content-inner -->
                        </div> <!-- /page-content -->
                    </div> <!--row-offcanvas -->
                </div> <!-- /#content-wrapper -->
            </div>

            <footer id="colophon" class="footer hidden-print">
                <div id="inner-footer" class="container clearfix">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Logo Utrecht University" src="{{ site.baseurl }}/assets/images/uu-logo-footer.svg">
                        </div>
                        <div class="col-sm-6">
                            <p class="source-org copyright pull-right">© 2019 Utrecht University, <a href="https://www.uu.nl/en/organisation/contact/disclaimer">disclaimer</a></p>
                        </div>
                    </div>
                </div>
            </footer>

            <p id="back-top" style="display: none;">
                <a href="#top"><i class="fa fa-angle-up"></i></a>
            </p>

            {% include footer.html %}
        </div>
    </body>
</html>
